/* Credit to http://www.inwebson.com/ for starry background initial code */

body {
    font-family: 'Roboto', sans-serif;
    color: #e5e5e5;
    background-color: #1E1E1E;

     /* Firefox */
    background-image:
        -moz-radial-gradient(circle, #FFFFFF 2px, rgba(248,255,128,.5) 4px, transparent 40px),
        -moz-radial-gradient(circle, #FFFFFF 1px, 	rgba(212, 175, 55, 1.0) 3px, transparent 30px),
        -moz-radial-gradient(ellipse, rgba(255,255,255,.9) 1px, rgba(251,255,186,.3) 2px, transparent 40px),
        -moz-radial-gradient(ellipse, rgba(255,255,255,.4), rgba(253,255,219,.2) 1px, transparent 30px);
 
    /* Webkit */
    background-image:
        -webkit-gradient(radial, 50% 50%, 2, 50% 50%, 40, from(white), color-stop(0.1, rgba(248,255,128,.5)), to(transparent)),
        -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 30, from(white), color-stop(0.1, 	rgba(212, 175, 55, 1.0)), to(transparent)),
        -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 40, from(rgba(255,255,255,.9)), color-stop(0.05, rgba(251,255,186,.3)), to(transparent)),
        -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 30, from(rgba(255,255,255,.4)), color-stop(0.03, rgba(253,255,219,.2)), to(transparent));
 
    /* Background Attributes */
    background-size: 550px 550px, 350px 350px, 250px 270px, 220px 200px;
    background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
 
    /* Animation */
    animation-name: movement;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
 
    /* Firefox */
    -moz-animation-name: movement;
    -moz-animation-duration: 15s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
 
    /* Webkit */
    -webkit-animation-name: movement;
    -webkit-animation-duration: 15s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}
@keyframes movement
{
    from {
            background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
    }
    to {
            background-position: -550px 0, -320px 60px, -120px 270px, -150px 150px;
    }
}
@-moz-keyframes movement
{
    from {
            background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
    }
    to {
            background-position: -550px 0, -320px 60px, -120px 270px, -150px 150px;
    }
}
@-webkit-keyframes movement
{
    from {
            background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
    }
    to {
            background-position: -550px 0, -320px 60px, -120px 270px, -150px 150px;
    }

}

p {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0px;
    color: #e5e5e5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.title {
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    /* -webkit-animation:colorchange 20s infinite alternate; */
}

@-webkit-keyframes colorchange {
      0% {
        
        color: red;
      }
      
      10% {
        
        color: #orange;
      }
      
      25% {
        
        color: #yellow;
      }
      
      50% {
        
        color: #green;
      }
      
      
      75% {
        
        color: #blue;
      }
      
      100% {
        
        color: orange;
      }
    }

.j {
    font-size: 68px;
        -webkit-animation: colorchange 5s infinite alternate;
}

.e {
    font-size: 68px;
    -webkit-animation: colorchange 5s infinite alternate;
    animation-delay: 0.2s;
}

.l1 {
    font-size: 68px;
    -webkit-animation: colorchange 5s infinite alternate;
    animation-delay: 0.4s;
}

.l2 {
    font-size: 68px;
    -webkit-animation: colorchange 5s infinite alternate;
    animation-delay: 0.6s;
}

.i {
    font-size: 68px;
    -webkit-animation: colorchange 5s infinite alternate;
    animation-delay: 0.8s;
}

.social {
    padding-top: 15px;
    padding-right: 10px;
}


.primary-container {
  /* padding: 20px 30px;
  width: 70%;
  max-height: calc(100% - 150px); */
}

.content-container {
  display: flex;
  justify-content: center;
}

/* .left-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 350px;
    max-width: 350px;
} */

.start {
    min-height: 25px;
    width: 150px;
    color: #1E1E1E;
    background-color: transparent;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 10px;
    color: #e5e5e5
}

.start:hover {
    color: #1E1E1E;
    background-color: #e5e5e5;
    border: 2px solid #1E1E1E;
    border-radius: 5px;
}

.stop {
    min-height: 25px;
    width: 150px;
    color: #1E1E1E;
    background-color: transparent;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 10px;
    color: #e5e5e5
}

.stop:hover {
    color: #1E1E1E;
    background-color: #e5e5e5;
    border: 2px solid #1E1E1E;
    border-radius: 5px;
}

.up {
    min-height: 25px;
    width: 30px;
    color: #1E1E1E;
    background-color: transparent;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 5px;
    color: #e5e5e5
}

.up:hover{
    color: #1E1E1E;
    background-color: #e5e5e5;
    border: 2px solid #1E1E1E;
    border-radius: 5px;
}

.down {
    min-height: 25px;
    width: 30px;
    color: #1E1E1E;
    background-color: transparent;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 5px;
    color: #e5e5e5
}

.down:hover{
    color: #1E1E1E;
    background-color: #e5e5e5;
    border: 2px solid #1E1E1E;
    border-radius: 5px;
}

.start-timer {
    min-height: 25px;
    width: 70px;
    color: #1E1E1E;
    background-color: transparent;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 10px;
    color: #e5e5e5
}

.start-timer:hover {
    color: #1E1E1E;
    background-color: #e5e5e5;
    border: 2px solid #1E1E1E;
    border-radius: 5px;
}

.stop-timer {
    min-height: 35px;
    width: 90px;
    color: #1E1E1E;
    background-color: transparent;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    font-size: 20px;
    text-transform: uppercase;
    margin: 10px;
    color: #e5e5e5
}

.stop-timer:hover {
    color: #1E1E1E;
    background-color: #e5e5e5;
    border: 2px solid #1E1E1E;
    border-radius: 5px;
}

.reset {
    min-height: 35px;
    width: 90px;
    color: #1E1E1E;
    background-color: transparent;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    font-size: 20px;
    text-transform: uppercase;
    margin: 10px;
    color: #e5e5e5
}

.reset:hover {
    color: #1E1E1E;
    background-color: #e5e5e5;
    border: 2px solid #1E1E1E;
    border-radius: 5px;
}

.timer {
    font-family: 'Roboto', sans-serif;
    color: #e5e5e5;
    font-size: 48px;
    display: flex;
    justify-content: flex-end;
}
.hidden { 
    display: none !important;
}

.jellyfish-container {
    /* margin-left: 50px; */
    /* min-width: 700px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: #1E1E1E; */
    overflow: visible;
    outline: none;
}

.jellyfish-animation {
  margin-top: 150px;
  margin-bottom: 150px;
  width: 200px;
  height: 200px;
  display: block;
  position: relative;
  /* background-color: #e5e5e5; */
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 101px;
  -webkit-box-shadow: 0 0 10px #e5e5e5; 
  -moz-box-shadow: 0 0 10px #e5e5e5; 
  box-shadow: 0 0 10px #e5e5e5;
  animation-name: circle-pulse; 
  /* animation-direction: alternate; */
  /* animation-iteration-count: 6; */
  /* animation-duration: 5s; */
  /* animation-timing-function: ease-in-out;
-webkit-animation-timing-function: ease-in-out; */
 animation-delay: 1s; 
 border-color: #1E1E1E;
}

/* .jellyfish-animation:before {
   
} */

.jellyfish-animation:after {
    content: '';
    
    width: 180px;
    height: 180px;
    display: block;
    position: relative;
    border-radius: 90px;
    left: 10px;
    top: 10px;
    bottom: 10px;
    -webkit-box-shadow: 0 0 10px #e5e5e5; 
    -moz-box-shadow: 0 0 10px #e5e5e5; 
    box-shadow: 0 0 10px #e5e5e5;
    
}


 
@keyframes circle-pulse {
  0%  {
    transform: scale(1);
    -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
 
  }
  25%  {
    transform: scale(1.25);
    -moz-border-radius: 113px;
  -webkit-border-radius: 113px;
  border-radius: 113px;

  }
  50%  {
    transform: scale(1.75);
    -moz-border-radius: 125px;
  -webkit-border-radius: 125px;
  border-radius: 125px;
  
  }
  
  100% {  
    transform: scale(1);
    -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  border-radius: 150px;

  }
}

.footer {
  display: flex;
  justify-content: center;
}

button:active {
outline: none;
border: none;
}

button:focus {outline:0;}

a { 
    color:#e5e5e5;
    text-decoration:none;
}

a:hover { 
    color: #1E1E1E;
    background-color: #e5e5e5;
    text-decoration: none;
}


.is-hidden {
  display: none;
}

.button-close {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999
}

.modal {
  padding: 20px 30px;
  width: 70%;
  max-height: calc(100% - 150px);
  overflow-y: scroll;
  position: relative;
  min-height: 300px;
  margin: 5% auto 0;
  background: #fff;
  z-index: 9999;
}